!!!
%html
  %head
    %title Test Title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    #container
      = render "navbar"
      = yield
    #modal
    #modal-overlay
    = render :partial => "flash", :locals => {:flash => flash}
