!!!
%html
  %head
    %title Test Title
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = labjs_load('LAB.min.js')
    = labjs_include_tag(:files => ["application"], :require => ["jquery.min", "game", "map"])
    = csrf_meta_tag
  %body.bp
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash#{name}"
      = yield
