!!!
%html
  %head
    %title Test Title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %script
      - if !current_user.nil? && !current_user.empire.nil?
        :coffee
          $ ->
            Chat.empire =  #{current_user.empire_id}
            Chat.empire_subscribe()
  %body
    #container
      = render "navbar"
      = yield
    = render :partial => "modal", :locals => {:modal => @modal}
    = render :partial => "flash", :locals => {:flash => flash}
